<% @title = @user.name %>
<div class="col-md-12">
    <%= gravatar_for @user%>

  <%= @user.name %><br/>

  <% @users_cats.each do |usersCat| %>
      <%= usersCat.name %><br/>
      <%= usersCat %><br/>
      <%= userCat.@users_cats.size %>
      <div><%= image_tag usersCat.picture.url(:thumb) %></div>
  <% end %>

</div>