<% @title = @user.name %>
<div class="col-md-12">
    <%= gravatar_for @user%>

  <%= @user.name %><br/>
  <div>
    have <%= @users_cats_count %> cats<br/>
  </div>
  <% @users_cats.each do |usersCat| %>
      <%= usersCat.name %><br/>
      <div><%= image_tag usersCat.picture.url(:thumb) %></div>
  <% end %>

  <% if current_user %>
    <%= link_to 'edit profile', edit_user_path %>
  <% else %>
    <%#= link_to 'Like', edit_user_path %>
  <% end %>

</div>