<div class="row header">
  <div class="container">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">cat</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/cats/new">new cat</a></li>
            </ul>
            <%= render('shared/search') %>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                  <li>
                    <a href="#">Signed in as <%= current_user.name %></a>
                  </li>
                  <li><%= link_to "Logout", '/logout' %></li>
              <% else %>
                  <li><%= link_to 'Login', '/login' %></li>
                  <li><%= link_to 'Signup', '/signup' %></li>
              <% end %>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</div>