<% @cat.each do |cat| %>
    <div class="col-md-4">
      <div class="cat" data-href="<%= cat_path(cat) %>">
        <div>catid <%= cat.id %></div>
        <div><%= cat.name %></div>
        <div><%= cat.text %></div>
        <div><%= image_tag cat.picture.url(:thumb) %></div>

        <div>


          <% if Like::Like.with_likeable(cat).count != 0 %>
            <h8>Users like your cat</h8>
            <% catId(cat.id).each do |lu| %>
                <strong><%= lu["name"] %></strong>
            <% end %>
          <% end %>

        </div>

        <div id="like" class="<%= Like::Like.with_likeable(cat).count == 0 ? "notsel" : "sel" %>">
          <% if Like::Like.liking?(current_user, cat) %>
              <%= render 'shared/heart_svg' %>
              <%= link_to 'Like', like_path_for(cat), method: :delete %>
              <%if Like::Like.with_likeable(cat).count != 0%>
                  <%= Like::Like.with_likeable(cat).count %>
              <%end%>
          <% else %>
              <%= render 'shared/heart_svg' %>
              <%= link_to 'Like', like_path_for(cat), method: :post %>
              <%if Like::Like.with_likeable(cat).count != 0%>
                  <%= Like::Like.with_likeable(cat).count %>
              <%end%>
          <% end %>
        </div>



        <a href="<%= user_path(cat.user) %>"><%= cat.user.name %></a>
        <!--<a href="<%= cat_path(cat) %>" class="showCat">show</a>-->
      </div>
    </div>
<% end %>